<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fbaInventoryMapper">
	<select id="queryFbaInventory" resultType="com.keepsa.pojo.FbaInventoryVo">
		SELECT target_sku targetSku,
			warehouse_condition_code warehouseConditionCode,
			quantity_available quantityAvailable
		FROM fba_inventory
		WHERE target_sku=#{targetSku}
	</select>
	
	<update id="updateFbaInventory" parameterType="com.keepsa.pojo.FbaInventoryVo">
		UPDATE fba_inventory
		SET quantity_available=#{quantityAvailable}
		WHERE target_sku=#{targetSku}
	</update>
	
	<insert id='insertFbaInventory' parameterType="com.keepsa.pojo.FbaInventoryVo">
		INSERT INTO fba_inventory
			(
				target_sku,
				asin,
				condition_type,
				warehouse_condition_code,
				quantity_available
			)
		VALUES
			<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.targetSku},
				#{item.asin},
				#{item.conditionType},
				#{item.warehouseConditionCode},
				#{item.quantityAvailable}
			)
		</foreach>
	</insert>

</mapper>