<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">
	<!-- Batch insert order -->
	<insert id="insertOrder" parameterType="com.keepsa.pojo.OrderVo">
		INSERT INTO orders
		(
		order_id,
		merchant_order_id,
		purchase_date,
		last_updated_date,
		order_status,
		fulfillment_channel,
		sales_channel,
		sku,
		targetSku,
		asin,
		item_status,
		quantity,
		currency,
		item_price,
		ship_country
		)
		VALUES
		<foreach collection="list" item="order" index="index"
			separator=",">
			(
			#{order.orderId},
			#{order.merchantOrderId},
			#{order.purchaseDate},
			#{order.lastUpdatedDate},
			#{order.orderStatus},
			#{order.fulfillmentChannel},
			#{order.salesChannel},
			#{order.sku},
			#{order.targetSku},
			#{order.asin},
			#{order.itemStatus},
			#{order.quantity},
			#{order.currency},
			#{order.itemPrice},
			#{order.shipCountry}
			)
		</foreach>
	</insert>

	<update id="updateOrder" parameterType="com.keepsa.pojo.OrderVo">
		UPDATE orders
		SET
		last_updated_date=#{lastUpdatedDate},
		order_status=#{orderStatus},
		item_status=#{itemStatus},
		quantity=#{quantity},
		item_price=#{itemPrice},
		shipping_price=#{shippingPrice},
		item_promotion_discount=#{itemPromotionDiscount},
		ship_promotion_discount=#{shipPromotionDiscount}

		WHERE
		order_id=#{orderId}
		AND asin=#{asin}
	</update>

	<select id="queryOrder" parameterType="com.keepsa.pojo.OrderVo"
		resultType="com.keepsa.pojo.OrderVo">
		SELECT
			order_id orderId,
			merchant_order_id merchantOrderId,
			purchase_date purchaseDate,
			last_updated_date lastUpdatedDate,
			order_status orderStatus,
			fulfillment_channel fulfillmentChannel,
			sales_channel salesChannel,
			sku,
			asin,
			item_status itemStatus,
			quantity,
			currency,
			item_price itemPrice,
			ship_country shipCountry
		FROM orders
		<where>
			<if test="orderId!=null and orderId!=''">
				AND order_id=#{orderId}
			</if>
			<if test="asin!=null and asin!=''">
				AND asin=#{asin}
			</if>
		</where>

	</select>

	<select id="queryOrderInfoWithFee" parameterType="Map"
		resultType="com.keepsa.pojo.OrderInfoWithFeeVo">
		SELECT
			o.order_id orderId,
			o.sku,
			o.quantity,
			o.item_price itemPrice,
			o.currency,
			(SELECT
				fee
				FROM
				fba_fee
				WHERE sku = o.sku
				AND sales_channel = o.sales_channel) fee
		FROM orders o
		WHERE o.order_status = 'Shipped'
		<if test="fromDate != null">
			AND o.last_updated_date >= #{fromDate}
		</if>
		<if test="toDate != null">
			AND o.last_updated_date &lt;= #{toDate}
		</if>
		<if test="fulfillmentChannel != null">
			AND o.fulfillment_channel = #{fulfillmentChannel}
		</if>
	</select>

	<update id="updateAmazonFee" parameterType="Map">
		UPDATE orders
		SET
		amazon_fee=#{amazonFee}
		WHERE order_id=#{orderId} AND sku=#{sku}
	</update>


	<update id="updateAmazonFee4NormalOrder" parameterType="Map">
		UPDATE
		orders
		SET fba_fee=#{fbaFee},
		commission=#{commission},
		shipping_chargeback=#{shippingChargeback}

		WHERE order_id=#{orderId} AND
		sku=#{sku}
	</update>

	<update id="updateAmazonFee4RefundedOrder" parameterType="Map">
		UPDATE
		orders
		SET refund_commission=#{refundCommission},
		order_status="Refunded",
		item_status="Refunded"
		WHERE
		order_id=#{orderId} AND sku=#{sku}
	</update>

	<select id="queryOrderIds" resultType="String">
		SELECT order_id
		FROM orders
	</select>

	<update id="updateCostFirstTripFee" parameterType="Map">
		UPDATE orders
		SET cost=#{cost},
		first_trip_fee=#{firstTripFee}
		WHERE
		order_id=#{orderId}
		AND sku=#{sku}
	</update>
	
	<select id="queryOrderWithinRange" parameterType="Map"
		resultType="com.keepsa.pojo.OrderVo">
		SELECT
			order_id orderId,
			merchant_order_id merchantOrderId,
			purchase_date purchaseDate,
			last_updated_date lastUpdatedDate,
			order_status orderStatus,
			fulfillment_channel fulfillmentChannel,
			sales_channel salesChannel,
			sku,
			asin,
			item_status itemStatus,
			quantity,
			currency,
			item_price itemPrice,
			ship_country shipCountry,
			cost,
			first_trip_fee firstTripFee,
			fba_fee fbaFee,
			commission
		FROM orders o
		WHERE o.order_status = 'Shipped'
		<if test="fromDate != null">
			AND o.last_updated_date >= #{fromDate}
		</if>
		<if test="toDate != null">
			AND o.last_updated_date &lt;= #{toDate}
		</if>
		<if test="fulfillmentChannel != null">
			AND o.fulfillment_channel = #{fulfillmentChannel}
		</if>
	</select>

</mapper>